.modal-title {
    font-size: 32px;
}
.modal-body {
    font-size: 24px;
    text-align: center;
}
.modal__tel {
    white-space: nowrap;
    font-size: 32px;
    text-decoration: none;
    color: #303030;
}
.modal__tel:hover {
    text-decoration: underline;
}

.modal__form {
    margin-top: 1em;
}
.modal__form__name {
    font-size: 1em;
}
.modal__form__phone {
    margin-top: 0.5em;
    font-size: 1em;
}
.modal__form__btn {
    margin-top: 0.5em;
    color: #feffe4;
    font-size: 1em;
    background: #2eb872;
    border-radius: 5px;
    padding: 10px 15px;
    font-weight: 700;
}